body {
	background-color: #c8c8c8;
	width: 100%;
	margin: 0 auto;
	font-family: "Helvetica Neue", "Helvetica";
	-webkit-text-size-adjust: none;
}
#content p, #content ul {
	font-size: 14px;
	color: #fff;
	text-shadow: #000 0px 2px 2px;
	-webkit-text-size-adjust: 130%;
}
h1 {
	margin: 0 auto;
	text-indent: -9999px;
	display: block;
	background: url(images/DiegoTorres.png) no-repeat;
	height: 82px;
	width: 444px;
	margin-top: 80px;
}
h2 {
	color: #fff;
	text-shadow: #000 0px 2px 2px;
}
menu {
	text-align: center;
}
menu li {
	display: inline-table;
	height: 48px;
	text-indent: -9999px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: 5px;
	margin-right: 5px;
}
menu .about.active {
	background: url(images/about-sel-es.png) no-repeat;
	width: 194px;
}
menu .portfolio.active {
	background: url(images/portfolio-sel-es.png) no-repeat;
	width: 217px;
}
menu .contact.active {
	background: url(images/contact-sel-es.png) no-repeat;
	width: 196px;
}
menu .about {
	background: url(images/about-es.png) no-repeat;
	width: 194px;
}
menu .portfolio {
	background: url(images/portfolio-es.png) no-repeat;
	width: 217px;
}
menu .contact {
	background: url(images/contact-es.png) no-repeat;
	width: 196px;
}


#selector {
	height: 27px;
	background: url(images/selector-bg.png) repeat-x ;
}
.rail {
	width: 960px;
	margin: 0 auto;
}
.rail img {
	margin-left: 250px;
}

#content {
	width: 100%;
	display: block;
	background-color: #494038;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
	-webkit-box-shadow: 0px 2px 2px #fff;
	-moz-box-shadow: 0px 2px 2px #fff;
	box-shadow: 0px 2px 2px #fff;
	overflow: hidden;
}
#content div {
	display: block;
	width: 730px;
	margin: 0 auto;
}

a.mail {
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	background-color: rgba(255,255,255, 0.8);
	color: #000;
	font-size: 32px;
	margin:  0 auto;
	padding-top: 10px;
	padding-left: 15px;
	width: 320px;
	height: 50px;
	display: block;
	text-decoration: none;
}
#content .portfolio {
	width: 808px;
	overflow: hidden;
	margin: 0 auto;
}
#content .showcase {
	width: 999999px;
	margin-left: 0;
}
#content .paginator {
	text-align: center;
}
#content .paginator li {
	clear: both;
	display: inline-table;
	margin-top: 20px;
	margin-left: 5px;
	margin-right: 5px;
	height: 10px;
	width: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color: black;
	opacity: 0.5;
}
#content .paginator li.active {
	background-color: #fff;
	opacity: 1;
}
#content .iOS-app, #content .Multi-app {
	padding-left: 0px;
	margin-left: 8px;
	margin-right: 8px;
	width: 801px;
	display: inline-table;
	float: left;
}
.iOS-app h2, .Multi-app h2 {
	font-size: 36px;
	font-family: "Lucida Grande";
	margin-bottom: 10px;
	margin-top: 10px;
}
.iOS-app img, .Multi-app img {
	float: left;
	margin-right: 20px;
}
.iOS-app, .Multi-app p {
	text-align: justify;
	padding-right: 3px;
}